*.pdf
*.ppt*
*.xl*
*.doc*
*.png
*.odt*
*.ods*
*.odp*
*mash*
*yzh*
*vsphi*
*.zip
*.svg
*.jp*
*.odg
*.o
*.out
*.djvu
*.mp*
*.exe
*.ova

urpo
arch
kpo
mo
pract
statmod
subd
tafy
tpr

oms
pak
trkpo
graph

